body {
    font-family: courier, fixed, monospace;
    font-size: 18px;
    line-height: 1.4em;
    margin-left: 25em;
    margin-right: 25em;
}

h1 {
    font-weight: normal;
}

.addition {
    font-weight: bold;
}

.center {
    text-align: center;
    margin-left: -10em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: rgba(97,90,96,0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

abbr[title=unclear] {
    color: #949494;
    text-decoration: none;
}

abbr[title=illegible] {
    color: #949494;
    text-decoration: none;
}

abbr[title=deleted] {
    color: #949494;
    text-decoration: none;
}
