body {
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: #615A60;
    font-weight: normal;
    text-align: center;
    padding-top: 0.5em;
}

div.main {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    text-align: left;
    line-height: 1.4em;
    width: 45em;
    margin: 5em auto 5em auto;
    color: #615A60;
    background-color: #fff;
    padding: 7em;
    border: 0.2em solid #615A60;
    border-radius: 0.5em;
}

.addition {
    font-weight: bold;
}

.center {
    text-align: center;
}

.double_spaced {
    letter-spacing: 0.6em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0.1em dotted rgb(97,90,96);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 14em;
  background-color: rgba(97,90,96,0.8);
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.2em 0;
  position: absolute;
  z-index: 1;
  top: -0.2em;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

abbr[title=unclear] {
    color: #949494;
    text-decoration: none;
}

abbr[title=illegible] {
    color: #949494;
    text-decoration: none;
}

abbr[title=deleted] {
    color: #949494;
    text-decoration: none;
}
